<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-7 pane_middle">
        <div class="banner">
            <div class="main_banner">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sports_banner">
                            <img src="./assets/images/main-abnner.png" alt="main-abnner">
                        </div>
                    </div>
                </div>
            </div>

            <div class="score_borad_wrapper">
                <div class="sport_tabs">
                    <a class="active"><span class="icon_block">
                            <svg class="icon icon-cricket">
                                <use xlink:href="#ball"></use>
                            </svg>
                        </span>Cricket</a>
                    <a> <span class="icon_block"><svg class="icon icon-football">
                                <use xlink:href="#football"></use>
                            </svg> </span> Football</a>
                    <a>
                        <span class="icon_block"><svg class="icon icon-tennis">
                                <use xlink:href="#tennis"></use>
                            </svg> </span>
                        Tennis</a>

                </div>
                <div class="bet_tabel">
                    <div class="tabel_header">
                        <div class="col_60">
                            <div class="game_details">
                                <div class="game_icon">
                                    <img src="./assets/images/cricket-ball.webp" alt="#">
                                </div>
                                <span class="game_name">Cricket</span>
                            </div>


                        </div>
                        <div class="col_13 text-center"><span>1</span></div>
                        <div class="col_13 text-center"><span>X</span></div>
                        <div class="col_13 text-center"><span>2</span></div>

                    </div>
                    <div class="bet_tabel_body">
                        <div class="bet_tabel_row">
                            <div class="col_60">
                                <div class="left_block">
                                    <div class="game_type">
                                        <div class="game_status">
                                            <img src="./assets/images/live.webp" alt="#">
                                        </div>
                                        <div class="team_details">
                                            <a href="javascript:void(0)"><span>Lancashire v Middlesex</span>
                                                (County Championship Division 1)
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game_status_details">
                                        <span>F1</span>
                                        <span>F</span>
                                        <span>BM</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)" data-bs-toggle="modal"
                                        data-bs-target="#betmodal">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>


                        </div>
                        <div class="bet_tabel_row">
                            <div class="col_60">
                                <div class="left_block">
                                    <div class="game_type">
                                        <div class="game_status">
                                            <img src="./assets/images/live.webp" alt="#">
                                        </div>
                                        <div class="team_details">
                                            <a href="javascript:void(0)"><span>Lancashire v Middlesex</span>
                                                (County Championship Division 1)
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game_status_details">
                                        <span>F1</span>
                                        <span>F</span>
                                        <span>BM</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>


                        </div>
                        <div class="bet_tabel_row">
                            <div class="col_60">
                                <div class="left_block">
                                    <div class="game_type">
                                        <div class="game_status">
                                            <img src="./assets/images/live.webp" alt="#">
                                        </div>
                                        <div class="team_details">
                                            <a href="javascript:void(0)"><span>Lancashire v Middlesex</span>
                                                (County Championship Division 1)
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game_status_details">
                                        <span>F1</span>
                                        <span>F</span>
                                        <span>BM</span>
                                        <span>
                                            <svg class="icon icon-tennis">
                                                <use xlink:href="#tvicon"></use>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>


                        </div>
                        <div class="bet_tabel_row">
                            <div class="col_60">
                                <div class="left_block">
                                    <div class="game_type">
                                        <div class="game_starttime">
                                            <span>Today</span>
                                            16:00
                                        </div>
                                        <div class="team_details">
                                            <a href="javascript:void(0)"><span>Lancashire v Middlesex</span>
                                                (County Championship Division 1)
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game_status_details">
                                        <span>F1</span>
                                        <span>F</span>
                                        <span>BM</span>
                                        <span><svg class="icon icon-tennis">
                                                <use xlink:href="#tvicon"></use>
                                            </svg></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>


                        </div>
                        <div class="bet_tabel_row">
                            <div class="col_60">
                                <div class="left_block">
                                    <div class="game_type">
                                        <div class="game_starttime">
                                            <span>Today</span>
                                            16:00
                                        </div>
                                        <div class="team_details">
                                            <a href="javascript:void(0)"><span>Lancashire v Middlesex</span>
                                                (County Championship Division 1)
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game_status_details">
                                        <span>F1</span>
                                        <span>F</span>
                                        <span>BM</span>
                                        <span><svg class="icon icon-tennis">
                                                <use xlink:href="#tvicon"></use>
                                            </svg></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>


                        </div>
                        <div class="bet_tabel_row">
                            <div class="col_60">
                                <div class="left_block">
                                    <div class="game_type">
                                        <div class="game_starttime">
                                            <span>Tomorrow</span>
                                            16:00
                                        </div>
                                        <div class="team_details">
                                            <a href="javascript:void(0)"><span>Lancashire v Middlesex</span>
                                                (County Championship Division 1)
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game_status_details">
                                        <span>F1</span>
                                        <span>F</span>
                                        <span>BM</span>
                                        <span><svg class="icon icon-tennis">
                                                <use xlink:href="#tvicon"></use>
                                            </svg></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>


                        </div>
                        <div class="bet_tabel_row">
                            <div class="col_60">
                                <div class="left_block">
                                    <div class="game_type">
                                        <div class="game_starttime">
                                            <span>Tomorrow</span>
                                            16:00
                                        </div>
                                        <div class="team_details">
                                            <a href="javascript:void(0)"><span>Lancashire v Middlesex</span>
                                                (County Championship Division 1)
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game_status_details">
                                        <span>F1</span>
                                        <span>F</span>
                                        <span>BM</span>
                                        <span><svg class="icon icon-tennis">
                                                <use xlink:href="#tvicon"></use>
                                            </svg></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>


                        </div>
                        <div class="bet_tabel_row">
                            <div class="col_60">
                                <div class="left_block">
                                    <div class="game_type">
                                        <div class="game_starttime">
                                            <span>Tomorrow</span>
                                            16:00
                                        </div>
                                        <div class="team_details">
                                            <a href="javascript:void(0)"><span>Lancashire v Middlesex</span>
                                                (County Championship Division 1)
                                            </a>
                                        </div>
                                    </div>
                                    <div class="game_status_details">
                                        <span>F1</span>
                                        <span>F</span>
                                        <span>BM</span>
                                        <span><svg class="icon icon-tennis">
                                                <use xlink:href="#tvicon"></use>
                                            </svg></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>
                            <div class="col_13 text-center">
                                <div class="game_score_details">
                                    <a class="back " href="javascript:vopid(0)">1.38</a>
                                    <a class="lay" href="javascript:vopid(0)">1.47</a>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-2 right_pane">
        <div class="banner_list">
            <a href="javascript:void(0);">
                <img src="./assets/images/side-post.png" class="w-100">
            </a>
            <a href="javascript:void(0);">
                <img src="./assets/images/side-post.png" class="w-100">
            </a>
            <a href="javascript:void(0);">
                <img src="./assets/images/side-post.png" class="w-100">
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="mobile_fixbar">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="#sports"></use>
                        </svg>
                        Sports
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="#play-button"></use>
                        </svg>
                        InPlay
                    </a>
                </li>
                <li>
                    <a class="home_menu_active" href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="#home"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="#transfer"></use>
                        </svg>
                        Exchange
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="#menu-1"></use>
                        </svg>
                        More
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal fade theem_modal bet_modal" id="betmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">BET SLIP</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="bet-slip-box back"><div class="bet-slip"><div class="bet-nation"><span>UAE v Afghanistan</span></div> <div class="match-result">
                    MATCH_ODDS
                  </div> <div class="bet-team"><span class="bet-team-name">UAE
                    </span>
                    <div class="bet-input-box"><button class="btn-minus">-</button>
                        <div class="bet-input space_none"><input type="text" readonly="readonly" class="form-control"></div> <button
                            class="btn-plus">+</button>
                    </div>
                    </div>
                    </div>
                    <div class="bet-input back-border"><input type="number" maxlength="9"
                            onkeypress="return event.charCode >= 48 &amp; &amp; event.charCode <= 57" placeholder="Amount"
                            class="form-control"></div> 
                    <div class="bet-buttons"><button class="btn btn-primary"><span>1k</span></button><button
                            class="btn btn-primary"><span>2k</span></button><button class="btn btn-primary"><span>5k</span></button><button
                            class="btn btn-primary"><span>10k</span></button><button
                            class="btn btn-primary"><span>20k</span></button><button
                            class="btn btn-primary"><span>25k</span></button><button
                            class="btn btn-primary"><span>50k</span></button><button
                            class="btn btn-primary"><span>75k</span></button><button
                            class="btn btn-primary"><span>90k</span></button><button class="btn btn-primary"><span>95k</span></button></div>
                    </div>
                    <div class="place-bet-btn"><button class="btn btn-primary btn-block"><span>Place bet</span></button>
                    </div>
                    <div class="container-fluid">
                        <div class="row row5 mt-2">
                            <div class="col-4"><span>Afghanistan</span></div>
                            <div class="col-4 text-center text-success"><span>&nbsp;</span></div>
                            <div class="col-4 text-right text-danger"><span></span></div>
                        </div>
                        <div class="row row5 mt-2">
                            <div class="col-4"><span>UAE</span></div>
                            <div class="col-4 text-center text-success"><span>&nbsp;</span></div>
                            <div class="col-4 text-right text-danger"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
            
          </div>
        </div>
      </div>
</div>