<div class="background">
    <!-- <app-navbar></app-navbar> -->

    <div class="row text" style="padding:5%; align-items: center;">
      
        <div class="card p-4 log_Div" *ngIf="isLogin" >
            <form [formGroup]="loginForm" class="row">
                <div class="col-md-12 text-center">
                    <img src="./assets/images/logo.png" style="width: 70% !important;" alt="">
                    <h4 class="mt-3">Login Here !</h4>
                </div>
                <div class="col-md-12 mt-4">
                    <label for="">User Name</label>
                    <input type="text" class="form-control" placeholder=" User Name"
                        formControlName="userName">

                </div>
                <div class="col-md-12 mt-3">
                    <label for="">Password</label>
                    <input type="password" class="form-control" placeholder=" Password" formControlName="password">

                </div>
          
                <div class="col-md-12 mt-2 text-center">
                
                    <button class="btn btn-md btn-primary" style="width: 90%;" (click)="LoginUser()"  [disabled]="loginForm.invalid">Login</button>
                </div>
                <div class="col-md-12 mt-4 text-center">
                    <p>Ragister you account <span class="txt" (click)="SignupStatus()">Sign Up</span></p>
                </div>
            </form>
        </div>
    
    
        <div class="card p-4 mt-5 log_Div" *ngIf="isSignUP">
<form [formGroup]="Ragistraion" class="row">
    <div class="col-md-12 text-center">
        <img src="./assets/images/logo.png" style="width: 70% !important;" alt="">
        <h4>Ragister Account !</h4>
    </div>
    
    <div class="col-md-12 mt-3">
        <label for="">Email*</label>
        <input type="email" name="" class="form-control" placeholder="Your Email" id="" formControlName="userName">
        <span class="text-danger" *ngIf="signIn['userName'].invalid && signIn['userName'].touched " >Please enter valid email address</span>
    </div>
    <div class="col-md-12 mt-3">
        <label for="">Password*</label>
        <input type="password" name="" class="form-control" placeholder="Your Password" id="" formControlName="password">
        <span class="text-danger" *ngIf="signIn['password'].invalid && signIn['password'].touched " >Please enter your password</span>

    </div>
    <div class="col-md-12 mt-3">
        <label for="">Confirm Password*</label>
        <input type="password" name="" class="form-control" placeholder=" Confirm Password" id="" formControlName="Cpassword">
        <span class="text-danger" *ngIf="signIn['Cpassword'].invalid && signIn['Cpassword'].touched || (signIn['Cpassword'].value != signIn['password'].value) " >Confirm Password is not same </span>

    </div>
    <div class="col-md-12 mt-2 text-center">

   <button class="btn btn-md btn-primary" style="width: 90%;" (click)="addUser()"  [disabled]="registrationValidation()">Ragister</button>
    </div> 
     <div class="col-md-12 mt-4 text-center">
        <p> You have account, Back to<span class="txt" (click)="loginStatus()">&nbsp;Log-in</span></p>
    </div>
</form>
         </div>
       
    </div>
</div>


