<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-7 pane_middle">

        <div class="banner">
            <div class="main_banner">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sports_banner">
                            <img src="./assets/images/main-abnner.png" alt="main-abnner">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xxl-6 col-lg-6">
                    <div class="sports_banner">
                        <div class="banner_text_img"><img src="./assets/images/sports.png" alt="sports"></div>
                        <div class="banner_text">SPORTS <div class="banner_button"><a href="javascript:void(0);">PLAY
                                    NOW</a></div>
                        </div>

                    </div>
                </div>
                <div class="col-xxl-6 col-lg-6">
                    <div class="sports_banner">
                        <div class="banner_text_img"><img src="./assets/images/exchange.png" alt="exchange"></div>
                        <div class="banner_text">EXCHANGE <div class="banner_button"><a href="javascript:void(0);">PLAY
                                    NOW</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6">
                    <div class="sports_banner">
                        <div class="banner_text_img"><img src="./assets/images/sportsbook.png" alt="exchange"></div>
                        <div class="banner_text">SPORTS BOOK <div class="banner_button"><a
                                    href="javascript:void(0);">PLAY NOW</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="sports_banner">
                        <div class="banner_text_img"><img src="./assets/images/live-casino.png" alt="exchange"></div>
                        <div class="banner_text">LIVE CASINO<div class="banner_button"><a
                                    href="javascript:void(0);">PLAY NOW</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="sports_banner">
                        <div class="banner_text_img"><img src="./assets/images/supernowa.png" alt="exchange"></div>
                        <div class="banner_text">SUPERNOWA <div class="banner_button"><a href="javascript:void(0);">PLAY
                                    NOW</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="sports_banner">
                        <div class="banner_text_img"><img src="./assets/images/powergames.png" alt="exchange"></div>
                        <div class="banner_text">POWER GAMES <div class="banner_button"><a
                                    href="javascript:void(0);">PLAY NOW</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="sports_banner">
                        <div class="banner_text_img"><img src="./assets/images/xprograming.png" alt="exchange"></div>
                        <div class="banner_text">Xprogramming <div class="banner_button"><a
                                    href="javascript:void(0);">PLAY NOW</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="sports_banner">
                        <div class="banner_text_img"><img src="./assets/images/evolution.png" alt="exchange"></div>
                        <div class="banner_text">Evolution <div class="banner_button"><a href="javascript:void(0);">PLAY
                                    NOW</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="sports_banner">
                        <div class="banner_text_img"><img src="./assets/images/ezugi.png" alt="exchange"></div>
                        <div class="banner_text">Ezugi <div class="banner_button"><a href="javascript:void(0);">PLAY
                                    NOW</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="sports_banner">
                        <div class="banner_text_img"><img src="./assets/images/qtech.png" alt="exchange"></div>
                        <div class="banner_text">Qtech <div class="banner_button"><a href="javascript:void(0);">PLAY
                                    NOW</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="sports_banner">
                        <div class="banner_text_img"><img src="./assets/images/ae-sexy-casino.png" alt="exchange"></div>
                        <div class="banner_text">AE Sexy Casino <div class="banner_button"><a
                                    href="javascript:void(0);">PLAY NOW</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-xxl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="sports_banner">
                        <div class="banner_text_img"><img src="./assets/images/binary.png" alt="exchange"></div>
                        <div class="banner_text">Binary <div class="banner_button"><a href="javascript:void(0);">PLAY
                                    NOW</a></div>
                        </div>
                    </div>
                </div>


            </div>

            <footer class="main_footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="footer_headding">
                                <h5>Help</h5>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul>
                                        <li><a href="javascript:void(0);">Contact Us</a></li>
                                        <li><a href="javascript:void(0);">bet365 FAQ</a></li>
                                        <li><a href="javascript:void(0);">Terms and Conditions</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul>
                                        <li><a href="javascript:void(0);">Technical Issues</a></li>
                                        <li><a href="javascript:void(0);">Privacy Policy</a></li>
                                        <li><a href="javascript:void(0);">Rules</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="footer_headding">
                                <h5>Promotions</h5>
                            </div>
                            <ul>
                                <li><a href="javascript:void(0);">Affliate Account</a></li>
                                <li><a href="javascript:void(0);">Open Account Offer</a></li>
                                <li><a href="javascript:void(0);">Current Offers</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="footer_headding">
                                <h5>Settings</h5>
                            </div>
                            <ul>
                                <li><a href="javascript:void(0);">Language</a></li>
                                <li class="mt-3"><img class="footer_logo" src="./assets/images/footer_logo.png" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer_cric">
                                <h4>CRICADDA</h4>
                            </div>
                            <p>Gambling can be addictive, please play responsibly. For information on support
                                measures, please visit our Responsible Gambling Help.</p>
                            <p>Hillside (Sports) ENC, registration number P1811, Office 1/2373, Level G, Quantum
                                House, 75 Abate Rigord Street, Ta’ Xbiex XBX 1120, Malta. Hillside (Sports) ENC
                                is licensed and regulated by the Malta Gaming Authority (MGA), Licence number
                            </p>
                            <p>© 2001-2023 <a class="copyright_link" href="javascript:void(0)">CRIC ADDA.</a>
                                All rights reserved.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-6  col-lg-6">
                            <div class="footer_btn">
                                <a href="javascript:void(0)">Careers</a>
                                <a href="javascript:void(0)">Partners</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6  col-lg-6">
                            <div class="scoial_link">
                                <a href="javascript:void(0)">
                                    <svg>
                                        <use xlink:href="#twitter"></use>
                                    </svg>
                                </a>
                                <a href="javascript:void(0)">
                                    <svg>
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>



     
    </div>
    <div class="col-md-2 right_pane">
            <div class="banner_list">
                <a href="javascript:void(0);">
                    <img src="./assets/images/side-post.png" class="w-100">
                </a>
                <a href="javascript:void(0);">
                    <img src="./assets/images/side-post.png" class="w-100">
                </a>
                <a href="javascript:void(0);">
                    <img src="./assets/images/side-post.png" class="w-100">
                </a>
            </div>
        </div>
        <div class="mobile_fixbar">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="#sports"></use>
                        </svg>
                        Sports
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="#play-button"></use>
                        </svg>
                        InPlay
                    </a>
                </li>
                <li>
                    <a class="home_menu_active" href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="#home"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="#transfer"></use>
                        </svg>
                        Exchange
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <svg class="icon">
                            <use xlink:href="#menu-1"></use>
                        </svg>
                        More
                    </a>
                </li>
            </ul>
        </div>
    </div>