<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-7 pane_middle">
        <div class="banner">
            <div class="main_banner">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sports_banner">
                            <img src="./assets/images/main-abnner.png" alt="main-abnner">
                        </div>
                    </div>
                </div>
            </div>

            <div class="sport_details_wrapper">
                <div class="sport_bet_table">

                    <a class="sport_tabel_header" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                        <h5>Match Odds</h5>
                        <span>Max : 100000</span>
                    </a>
                    <div class="sport_tabel_body collapse show" id="collapseExample">
                        <div class="backlay_row">
                            <div class="max_coin">
                                <span>Max:100000</span>
                            </div>
                            <div class="lay_back_btn">
                                 <a class="back btn" href="javascript:void(0)">Back</a>
                                 <a class="lay btn" href="javascript:void(0)">Lay</a>
                            </div>
                        </div>
                        <div class="team_score_details_row">
                            <div class="team_name">
                                <span>Pakisthan</span>
                                <span>0</span>
                            </div>
                            <div class="over_details">
                                <div data-title="SUSPENDED" class="btn_group suspended_block">
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="team_score_details_row">
                            <div class="team_name">
                                <span>Pakisthan</span>
                                <span>0</span>
                            </div>
                            <div class="over_details">
                                <div class="btn_group">
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sport_bet_table">
                    <div class="sport_tabel_header">
                        <h5>Tied Match</h5>
                        <span>Max : 100000</span>
                    </div>
                    <div class="sport_tabel_body">
                        <div class="backlay_row">
                            <div class="max_coin">
                                <span>Max:100000</span>
                            </div>
                            <div class="lay_back_btn">
                                 <a class="back btn" href="javascript:void(0)">Back</a>
                                 <a class="lay btn" href="javascript:void(0)">Lay</a>
                            </div>
                        </div>
                        <div class="team_score_details_row">
                            <div class="team_name">
                                <span>Pakisthan</span>
                                <span>0</span>
                            </div>
                            <div class="over_details">
                                <div class="btn_group">
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                </div>									
                            </div>
                        </div>
                        <div class="team_score_details_row">
                            <div class="team_name">
                                <span>Pakisthan</span>
                                <span>0</span>
                            </div>
                            <div class="over_details">
                                <div class="btn_group">
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                </div>										
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sport_bet_table">
                    <div class="sport_tabel_header">
                        <h5>Completed Match</h5>
                        <span>Max : 100000</span>
                    </div>
                    <div class="sport_tabel_body">
                        <div class="backlay_row">
                            <div class="max_coin">
                                <span>Max:100000</span>
                            </div>
                            <div class="lay_back_btn">
                                 <a class="back btn" href="javascript:void(0)">Back</a>
                                 <a class="lay btn" href="javascript:void(0)">Lay</a>
                            </div>
                        </div>
                        <div class="team_score_details_row">
                            <div class="team_name">
                                <span>Pakisthan</span>
                                <span>0</span>
                            </div>
                            <div class="over_details">
                                <div class="btn_group">
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                </div>
                            
                            </div>
                        </div>
                        <div class="team_score_details_row">
                            <div class="team_name">
                                <span>Pakisthan</span>
                                <span>0</span>
                            </div>
                            <div class="over_details">
                                <div class="btn_group">
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="back btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                    <a class="lay btn" href="javascript:void(0)">
                                        <span>1.38</span>
                                        <span>11811</span>
                                    </a>
                                </div>										
                            </div>
                        </div>

                        
                    </div>
                </div>
                <div class="sport_bet_table total_score_bet">
                    <div class="sport_tabel_header">
                        <h5>Normal</h5>
                        <span>Max : 100000</span>
                    </div>
                    <div class="sport_tabel_body">
                        <div class="team_score_details_row">
                            <div class="col_50 col_row">
                                <div class="lay_back_btn col_80">
                                    <a class="back btn" href="javascript:void(0)">Back</a>
                                    <a class="lay btn" href="javascript:void(0)">Lay</a>
                               </div>
                               <div class="col_20"></div>
                            </div>
                            <div class="col_50 col_row">
                                <div class="lay_back_btn col_80">
                                    <a class="back btn" href="javascript:void(0)">Back</a>
                                    <a class="lay btn" href="javascript:void(0)">Lay</a>
                               </div>
                               <div class="col_20"></div>
                            </div>
                            
                        </div>
                        <div class="team_score_details_row">
                            <div class="col_row">
                                <div class="dis_block col_44"><span>How many balls face by F Zaman(PAK vs IND)and</span></div>
                                <div class="col_36">
                                    <div class="btn_group">												
                                        <a class="back btn" href="javascript:void(0)">
                                            <span>1.38</span>
                                            <span>11811</span>
                                        </a>
                                        <a class="lay btn" href="javascript:void(0)">
                                            <span>1.38</span>
                                            <span>11811</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="details_sccore col_20">
                                    <span>Min: 1</span>
                                    <span>Max: 100000</span>

                                </div>
                            </div>
                            <div class="col_row">
                                <div class="dis_block col_44"><span>How many balls face by F Zaman(PAK vs IND)and</span></div>
                                <div class="col_36">
                                    <div class="btn_group">												
                                        <a class="back btn" href="javascript:void(0)">
                                            <span>1.38</span>
                                            <span>11811</span>
                                        </a>
                                        <a class="lay btn" href="javascript:void(0)">
                                            <span>1.38</span>
                                            <span>11811</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="details_sccore col_20">
                                    <span>Min: 1</span>
                                    <span>Max: 100000</span>

                                </div>
                            </div>
                            
                        </div>
                        <div class="team_score_details_row">
                            <div class="col_row">
                                <div class="dis_block col_44"><span>How many balls face by F Zaman(PAK vs IND)and</span></div>
                                <div class="col_36">
                                    <div class="btn_group">												
                                        <a class="back btn" href="javascript:void(0)">
                                            <span>1.38</span>
                                            <span>11811</span>
                                        </a>
                                        <a class="lay btn" href="javascript:void(0)">
                                            <span>1.38</span>
                                            <span>11811</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="details_sccore col_20">
                                    <span>Min: 1</span>
                                    <span>Max: 100000</span>

                                </div>
                            </div>
                            <div class="col_row">
                                <div class="dis_block col_44"><span>How many balls face by F Zaman(PAK vs IND)and</span></div>
                                <div class="col_36">
                                    <div class="btn_group">												
                                        <a class="back btn" href="javascript:void(0)">
                                            <span>1.38</span>
                                            <span>11811</span>
                                        </a>
                                        <a class="lay btn" href="javascript:void(0)">
                                            <span>1.38</span>
                                            <span>11811</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="details_sccore col_20">
                                    <span>Min: 1</span>
                                    <span>Max: 100000</span>

                                </div>
                            </div>
                            
                        </div>
                        <div class="team_score_details_row">
                            <div class="col_row">
                                <div class="dis_block col_44"><span>How many balls face by F Zaman(PAK vs IND)and</span></div>
                                <div class="col_36">
                                    <div class="btn_group">												
                                        <a class="back btn" href="javascript:void(0)">
                                            <span>1.38</span>
                                            <span>11811</span>
                                        </a>
                                        <a class="lay btn" href="javascript:void(0)">
                                            <span>1.38</span>
                                            <span>11811</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="details_sccore col_20">
                                    <span>Min: 1</span>
                                    <span>Max: 100000</span>

                                </div>
                            </div>
                            <div class="col_row">
                                <div class="dis_block col_44"><span>How many balls face by F Zaman(PAK vs IND)and</span></div>
                                <div class="col_36">
                                    <div class="btn_group">												
                                        <a class="back btn" href="javascript:void(0)">
                                            <span>1.38</span>
                                            <span>11811</span>
                                        </a>
                                        <a class="lay btn" href="javascript:void(0)">
                                            <span>1.38</span>
                                            <span>11811</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="details_sccore col_20">
                                    <span>Min: 1</span>
                                    <span>Max: 100000</span>

                                </div>
                            </div>
                            
                        </div>

                        
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-2 right_pane">
        <div class="banner_list">
        <a  href="javascript:void(0);">
            <img src="./assets/images/side-post.png" class="w-100">
        </a>
        <a href="javascript:void(0);">
            <img src="./assets/images/side-post.png" class="w-100">
        </a>
        <a href="javascript:void(0);">
            <img src="./assets/images/side-post.png" class="w-100">
        </a>
    </div></div>
</div>