@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



body {
    --primary-color: #163832;
    --secondary-color: #1a5248;
    --primary2-color: #28bba1;
    --yellow-color: #fff955;
    --gray1: #4e4d4d;
    --gray2: #6b6b6b;
    --gray3: #888686;
    --gray4: #c5c2c2;
    --gray5: #dddcdc;
    --gray6: #fefefe;
    --text-light: #fff;
    --text-light2: #ebebeb;
    --text-dark: #080808;
    --text-primary: #163832;
    --back: #72bbef;
    --lay: #f994ba;
    --tableheader: #696767;
    --text-primary2: #369b6f;
    --bg-success: #03b37f;
    --bg-danger: #fc4242;
    --bg-white: #fff;
    --m_bg: #2e3439
}

body.light_theme {
    --primary-color: #163832;
    --secondary-color: #1a5248;
    --primary2-color: #28bba1;
    --yellow-color: #fff955;
    --gray1: #4e4d4d;
    --gray2: #dddcdc;
    --gray3: #efefef;
    --gray4: #c5c2c2;
    --gray5: #dddcdc;
    --text-light: #fff;
    --text-light2: #a1a1a1;
    --text-dark: #080808;
    --text-primary: #163832;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    overflow-x: hidden;
    background-color: var(--gray4);
}

.btn {
    padding: 6px 12px;
    height: 40px;
    border-radius: 6px;
    color: var(--text-primary);
    font-weight: 500;
    font-size: 14px;
}

.btn:hover,
.btn:focus,
.btn:active {
    box-shadow: none !important;
    outline: none !important;
}

.form-control {
    font-size: 14px;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
}

.btn-primary {
    background-color: var(--primary2-color);
    border-color: var(--primary2-color);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: transparent;
    border-color: var(--primary2-color);
}

.btn-secondary {
    background-color: var(--yellow-color);
    border-color: var(--yellow-color);
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: transparent;
    border-color: var(--yellow-color);
}

*::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #f5f5f5
}

*::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background-color: #fff;
    border: 1px solid #fff
}

*::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #10495e
}

img {
    width: 100%;
}

.boxed-layout-wrapper .row {
    --bs-gutter-x: 10px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li {
    margin: 0px;
    padding: 0px;
}

.top-header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: end;
    padding: 4px 20px;
}

.top-header .btn {
    padding: 3px 10px;
    height: auto;
    border-radius: 4px;
    margin-left: 4px;
}

.main-header {
    background-color: var(--primary-color);
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.header-right-wrap .btn-groups {
    display: inline-flex;
}

.header-right-wrap .btn-groups .btn {
    width: 100px;
    margin-left: 10px;
}

.main-header .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.main-header .header-wrapper .header-right-wrap {
    display: inline-flex;
    align-items: center;
}

.main-header .header-wrapper .header-right-wrap .search-input {
    position: relative;
}

.main-header .header-wrapper .header-right-wrap .input-search-header {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    color: rgba(255, 255, 255, 0.5);
    width: 325px;
    border-radius: 8px;
    height: 40px;
    padding-left: 35px;
}

.main-header .header-wrapper .header-right-wrap .input-search-header::placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.main-header .header-wrapper .header-right-wrap .input-search-header:focus {
    border-color: var(--primary2-color);
}

.main-header .header-wrapper .header-right-wrap .search-input svg.icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 9px;
    top: 10px;
    fill: var(--primary2-color);
}

.main-header .header-wrapper .headermenu ul {
    display: flex;
    align-items: center;
}

.main-header .header-wrapper .headermenu ul li a {
    padding: 5px 15px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin: 0px 8px;
    background-color: transparent;
    border-radius: 5px;
    color: var(--primary2-color);
}

.main-header .header-wrapper .headermenu ul li a.active {
    background-color: var(--secondary-color);
    color: #fff;
}

.boxed-layout-wrapper {
    display: flex;
    margin: auto;
    overflow: hidden;
    z-index: 1;
    position: relative;
    max-height: calc(100vh - 76px);
    height: 100%;
    width: 100%;
    padding: 0;
    justify-content: space-between;
}

.left_sidebar {
    /* width: 100%; */
    background-color: var(--gray2);
    max-height: calc(100vh - 76px);
    height: 100%;
    overflow-y: auto;
}

.left_sidebar ul li a {
    padding: 6px;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    text-decoration: none;
}

.left_sidebar ul li a svg.icon {
    width: 21px;
    height: 23px;
    margin-right: 15px;
    margin-left: 10px;
}

.left_sidebar .sidebar ul li {
    position: relative;
}

.left_sidebar .sidebar ul li a:hover {
    color: #080808;
}

.left_sidebar .sidebar ul li:hover {
    background-color: #e8e8e8;
}

.left_sidebar .sidebar ul li:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 5px;
    height: 100%;
}

.sports_banner {
    position: relative;
    margin-bottom: 10px;
}

.sports_banner .banner_button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.sports_banner .banner_text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    padding: 7px 15px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    width: calc(100% - 20px);
    height: 40px;
}

.sports_banner .banner_button a {
    text-decoration: none;
    height: 40px;
    display: inline-block;
    padding: 5px 15px;
    color: var(--text-light);
    font-size: 18px;
    font-weight: 600;
    border: 3px solid #b13525;
    border-radius: 24px;
    background: linear-gradient(0deg, rgba(244, 162, 0, 1) 0%, rgba(253, 196, 13, 1) 100%);
}

.main_footer {
    background-color: var(--gray3);
    padding: 35px 0px;
}

.main_footer .footer_headding h5 {
    color: var(--text-dark);
    font-weight: 600;
    margin-bottom: 0px;
}

.main_footer ul li a {
    text-decoration: none;
    color: #080808;
    font-size: 14px;
    line-height: 36px;
}

.main_footer .footer_headding {
    padding: 11px 19px;
    background: rgb(142, 142, 142);
    background: linear-gradient(90deg, rgb(153 153 153) 0%, rgba(106, 106, 106, 0) 100%);
    width: auto;
    display: inline-block;
    min-width: 50%;
    margin-bottom: 15px;
}

.main_footer .footer_cric {
    border-bottom: 1px solid var(--text-dark);
    margin: 40px 0px 15px 0px;
}

.main_footer .footer_cric h4 {
    color: var(--text-dark);
    font-weight: 600;
}

.left_sidebar ul li a svg.icon-politics {
    fill: #ce8b52;
}

.left_sidebar ul li a svg.icon-cricket {
    fill: #096b58;
}

.left_sidebar ul li a svg.icon-football {
    fill: #137cf2;
}

.left_sidebar ul li a svg.icon-tennis {
    fill: #03b37f;
}

.left_sidebar ul li a svg.icon-table-tennis {
    fill: #f18521;
}

.left_sidebar ul li a svg.icon-basketball_red {
    fill: #db2752;
}

.left_sidebar ul li a svg.icon-volleyball_yellow {
    fill: #fbb03b;
}

.left_sidebar ul li a svg.icon-ice-hockey {
    fill: #0b7699;
}

.left_sidebar ul li a svg.icon-e-sports {
    fill: #623cea;
}

.left_sidebar ul li a svg.icon-field {
    fill: #74c94b;
}

.left_sidebar ul li a svg.icon-handball {
    fill: #69306d;
}

.left_sidebar ul li a svg.icon-kabaddi {
    fill: #c04333 !important;
}

.left_sidebar ul li a svg.icon-golf {
    fill: #2f9e2d;
}

.left_sidebar ul li a svg.icon-rugby-ball_pink {
    fill: #ed5f62;
}

.left_sidebar ul li a svg.icon-boxing {
    fill: #e44e23;
}

.left_sidebar ul li a svg.icon-volleyball {
    fill: #4cc3fa;
}

.left_sidebar ul li a svg.icon-karate {
    fill: #e44e23;
}

.left_sidebar ul li a svg.icon-chess {
    fill: #0e345e;
}

.left_sidebar ul li a svg.icon-badminton {
    fill: #387e57;
}

.left_sidebar ul li a svg.icon-bicycle {
    fill: #097df5;
}

.left_sidebar ul li a svg.icon-motorcycle {
    fill: #bd6a58;
}

.left_sidebar ul li a svg.icon-basketball_orange {
    fill: #e83d1a;
}

.left_sidebar ul li a svg.icon-sumo {
    fill: #d95b66;
}

.left_sidebar ul li a svg.icon-virtual-fitness {
    fill: #d7a4f7;
}

.left_sidebar ul li a svg.icon-motorcycle-of-big-size-black-silhouette {
    fill: #a175c8;
}

.left_sidebar ul li a svg.icon-baseball {
    fill: #c06c84;
}

.left_sidebar ul li a svg.icon-rugby-ball {
    fill: #b52d3a;
}

.left_sidebar ul li a svg.icon-dart-board {
    fill: #c73565;
}

.left_sidebar ul li a svg.icon-football_red {
    fill: #d3393d;
}

.left_sidebar ul li a svg.icon-football {
    fill: #03b37f;
}

.left_sidebar ul li a svg.icon-e-sports {
    fill: #623cea;
}

.left_sidebar ul li a svg.icon-snowboarder {
    fill: #d7a4f7;
}

.left_sidebar ul li a svg.icon-greyhound {
    fill: #d6cdc4;
}

.left_sidebar ul li a svg.icon-jumping-horse-with-jockey-in-front-of-a-horseshoe {
    fill: #e67300;
}

.pane_middle {
    padding: 12px;
    display: block;
    vertical-align: top;
    max-height: calc(100vh - 76px);
    height: 100%;
    width: calc(100% - 580px);
    overflow-y: auto;
    
    background-color: var(--gray4) !important ;
}

.right_pane {
    width: 290px;
    display: table-cell;
    vertical-align: top;
    background-color: var(--gray2);
    max-height: calc(100vh - 76px);
    height: 100%;
    overflow-y: auto;
}

.banner_list a {
    display: block;
    margin-bottom: 12px;
}

.banner_list a:last-child {
    margin-bottom: 0px;
}

.copyright_link {
    color: #005646;
    text-decoration: none;
    font-weight: 600;
}

.copyright_link:hover {
    color: #000;
}

.row_space {
    margin: 20px 0;
}

.footer_btn {
    display: flex;
    align-items: center;
    gap: 7px;
}

.footer_btn a {
    background-color: #9a9898;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    min-width: 104px;
    text-align: center;
}

.footer_btn a:hover {
    background-color: var(--primary2-color);
    color: var(--text-light);
}

.scoial_link {
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: end;
}

.scoial_link a {
    background-color: #9a9898;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6d6c6c;
}

.scoial_link a:hover {
    background-color: var(--primary2-color);
}

.scoial_link a:hover svg {
    fill: var(--text-light);
}

.scoial_link a svg {
    height: 16px;
    fill: #6d6c6c;
}

.toggle_menu {
    display: none;
}

.mobile_fixbar {
    background-color: var(--gray3);
    padding: 0px 30px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-top: 10px solid #4e4d4d61;
    position: fixed;
    bottom: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    box-shadow: 0 0 80px #f1f1f1;
    display: none;
    height: 80px;
}

.mobile_fixbar ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    position: relative;
}

.mobile_fixbar::before {
    content: '';
}

.mobile_fixbar ul li {
    width: calc(20% - 15px);
}

.mobile_fixbar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray5);
    font-size: 15px;
    text-decoration: none;
}

.mobile_fixbar ul li a svg {
    fill: var(--gray5);
    height: 35px;
    width: 35px;
}

.home_menu_active {
    position: relative;
    background-color: var(--gray3);
    border-radius: 50%;
    border: 10px solid var(--primary2-color);
    height: 80px;
    width: 80px;
    top: -20px;
    justify-content: center;
    margin: auto;
}

.home_menu_active::before {
    content: "";
    width: 80px;
    min-height: 80px;
    border: 10px solid rgba(0, 0, 0, 0%);
    border-right-color: #fff955;
    border-radius: 50%;
    position: absolute;
    transform: rotate(323deg);
}

.score_borad_wrapper {
    background-color: var(--gray3);
    margin: 0 -12px;
    padding: 20px 0
}

.sport_tabs {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 12px;
    margin-bottom: 15px;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 5px;
}

.sport_tabs a {
    background-color: var(--gray2);
    border-radius: 5px;
    padding: 7px 15px;
    color: var(--text-light);
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.sport_tabs a:hover,
.sport_tabs a.active {
    background-color: var(--primary-color);
    color: var(--yellow-color);
}

.bet_tabel {
    min-height: calc(100vh - 440px);
}

.tabel_header {
    background-color: var(--gray2);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-light);
    font-size: 15px;
    padding-right: 7px;
}

.col_60 {
    width: 60%;
    flex: 0 0 60%;
}

.col_13 {
    width: calc(13.33% - 7px);
}

.game_icon {
    position: relative;
    width: 50px;
    background-color: var(--gray1);
    height: 45px;
    text-align: center;
    color: #fff;
}

.game_icon svg {
    height: 24px;
    width: 24px;
    fill: var(--bg-white);
}

.game_icon:after {
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    border-top: 22.5px solid transparent;
    border-bottom: 22.5px solid transparent;
    border-left: 20px solid var(--gray1);
}

.game_icon {
    display: flex;
    align-items: center;
    padding: 0 0px 0 15px;
}

.game_icon img {
    max-width: 25px;
}

.game_details {
    display: flex;
    align-items: center;
    gap: 30px;
}

.game_name {
    font-size: 15px;
    color: var(--text-light);
}

.bet_tabel_body {
    position: relative;
}

.bet_tabel_row {
    display: flex;
    flex-wrap: wrap;
    padding: 7px 0 7px 0px;
    border-bottom: 1px solid #a39f9f;
    align-items: center;
    gap: 7px;
    padding-right: 7px;
}

.bet_tabel_row:last-child {
    border: 0;
}

.game_status img {
    max-width: 37px;
}

.left_block {
    display: flex;
    gap: 10px;
}

.game_status {
    width: 70px;
    text-align: center;
}

.game_status_details {
    display: flex;
    align-items: center;
    gap: 7px;
}

.game_status_details span {
    color: #cfcfcf;
}

.game_type {
    width: 80%;
    display: flex;
    gap: 10px;
}

.team_details a {
    font-size: 15px;
    color: var(--text-light);
    text-decoration: none;
    line-height: 16px;
    font-weight: 300;
}

.team_details a span {
    display: block;
}

.game_score_details {
    display: flex;
    align-items: center;
    gap: 5px;
}

.game_score_details a {
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    color: var(--text-dark);
    width: calc(50% - 3px);
    font-weight: 600;
}

.game_score_details a:hover {
    opacity: 0.8;
}

.back {
    background-color: var(--back);
}

.lay {
    background-color: var(--lay);
}

.game_starttime {
    display: flex;
    align-items: center;
    padding: 0 12px;
    position: relative;
    color: var(--text-light);
    font-size: 15px;
    font-weight: 300;
}

.game_starttime::after {
    content: '';
    height: 30px;
    width: 1px;
    background-color: #a39f9f;
    position: absolute;
    right: 0;
}

.game_starttime span {
    width: 100px;
}

.icon_block {
    display: none;
}

.icon_block svg {
    height: 25px;
    width: 25px;
}

.game_status_details span svg {
    height: 15px;
    width: 15px;
    fill: #cfcfcf;
}

.sport_bet_table {
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--gray2);
    margin-bottom: 5px;
}

.sport_tabel_header {
    background-color: var(--gray1);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-light);
}

.sport_tabel_header h5 {
    margin: 0;
    font-size: 15px;
    color: var(--text-light);
    font-weight: 400;
}

.sport_tabel_body {
    padding: 15px;
}

.backlay_row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.max_coin {
    width: calc(100% - 313px);
    text-align: right;
    color: var(--text-light);
}

.lay_back_btn {
    display: flex;
    gap: 3px;
}

.lay_back_btn .btn {
    height: 35px;
    width: 72px;
    color: var(--text-light);
}

.team_score_details_row {
    display: flex;
    border-bottom: 1px solid #888686;
    padding-bottom: 8px;
    margin-top: 8px;
}

.team_score_details_row:last-child {
    border: 0;
    padding-bottom: 0;
}

.over_details {
    display: flex;
    gap: 8px;
}

.over_details .btn {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0px 10px;
    font-size: 15px;
    line-height: 17px;
    color: var(--text-dark);
    width: 72px;
    align-items: center;
    justify-content: center;
    max-height: 45px;
    min-height: 45px;
}

.team_name {
    display: flex;
    flex-direction: column;
    width: calc(100% - 410px);
    color: var(--text-light);
    line-height: 18px;
}

.btn_group {
    display: flex;
    gap: 3px;
    justify-content: end;
}

.col_50 {
    width: 50%;
}

.col_20 {
    width: 20%;
}

.col_36 {
    width: 36%;
}

.col_44 {
    width: 44%;
}

.col_row {
    display: flex;
    align-items: center;
}

.total_score_bet .team_score_details_row {
    color: var(--text-light);
    font-weight: 300;
    gap: 15px;
    flex-wrap: wrap;
}

.dis_block span {
    font-size: 15px;
    line-height: 16px;
}

.total_score_bet .btn_group .btn {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0px 10px;
    font-size: 15px;
    line-height: 17px;
    color: var(--text-light);
    width: 72px;
    align-items: center;
    justify-content: center;
    max-height: 45px;
    min-height: 45px;
}

.details_sccore {
    display: flex;
    flex-direction: column;
}

.total_score_bet .dis_block,
.total_score_bet .details_sccore {
    line-height: 20px;
}

.total_score_bet .col_row {
    gap: 5px;
    width: 49%;
}

.total_score_bet .lay_back_btn {
    justify-content: end;
    max-width: calc(100% - 86px);
    gap: 3px;
}

.col_80 {
    width: 80%;
}

.suspended_block {
    position: relative;
}

.suspended_block::after {
    content: attr(data-title);
    background-color: #000000d1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: red;
}

select option {
    color: black;
}

.search-box .form-group {
    position: relative;
    margin-right: 0;
}

.search-box .form-control {
    height: 48px;
    border-radius: 4px;
    background-color: var(--bg-body) !important;
    border-color: var(--bg-body) !important;
    color: var(--text-light2);
}

.search-box .search-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
    fill: var(--text-light2);
}

.center-main-content {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.report-container {
    width: 100%;
    position: relative;
    color: var(--text-light2);
}

.report-container .form-check input {
    width: 16px;
    height: 16px;
}

.report-container .form-check {
    display: inline-block;
    margin-right: 10px;
}

.report-container .form-check .form-check-input:checked {
    background-color: var(--primary2-color);
    border-color: var(--primary2-color);
}

.report-container .form-check .form-check-input:focus {
    box-shadow: none;
}

.report-box {
    background-color: var(--gray1);
    padding: 16px;
    min-height: calc(100vh - 60px);
    width: 100%;
}

.report-title {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

.report-name {
    height: 43px;
    font-size: 22px;
}

.report-form {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.report-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 16px;
}

.report-form .form-control,
.report-page-count .form-control {
    background-color: var(--bg-table);
    color: var(--text-table);
}

.report-title input {
    background-color: var(--bg-body);
    width: 320px;
    color: var(--text-body);
}

.report-form select {
    width: 240px;
}

.report-form input {
    width: 170px;
}

.report-form button {
    width: 150px;
}

.report-page-count {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

.report-container .file-icons {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.report-container .file-icons svg {
    cursor: pointer;
    margin-right: 10px;
    height: 32px;
    width: 24px;
}

.report-container .file-icons .file-pdf {
    fill: #f70000;
}

.report-container .file-icons .file-excel {
    fill: #1f6e43;
}

.report-container .file-icons.disabled svg {
    fill: var(--text-table);
    opacity: 0.6;
    cursor: not-allowed;
}

.report-page-count select {
    width: auto;
    min-width: 100px;
    height: 36px;
    display: inline-block;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=date]::-webkit-inner-spin-button {
    background: url("./assets/images/calender.svg") no-repeat;
    border-radius: 0px !important;
    background-size: 16px;
    background-size: cover;
    filter: invert(1);
}

select {
    background: url("./assets/images/arrow-down.svg") center right 10px no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none
}

.report-form button,
.report-form input,
.report-form select {
    height: 40px;
    border-radius: 3px;
}

.report-form input:focus,
.report-form select:focus {
    border-color: var(--primary2-color);
}

.search-box .search-icon {
    position: absolute;
    top: 16px;
    right: 16px;
}

.report-table {
    margin-top: 0;
    min-height: 400px;
}

.report-table .bet-user-rate {
    width: 110px;
}

.report-table .bet-user-rate div {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.report-table .bet-amount {
    width: 170px;
}

.report-table .bet-amount div {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.report-table .bet-date {
    width: 220px;
}

.report-table .bet-date div {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ac-statement.report-table .bet-date {
    width: 270px;
}

.ac-statement.report-table .bet-date div {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.report-table .bet-remark {
    width: auto;
    cursor: pointer;
}

.report-table .bet-remark div {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-record {
    background-color: var(--bg-body);
    text-align: center;
}

.report-table .table>:not(:first-child) {
    border-top: 0;
}

.report-table .table {
    border: 1px solid var(--gray2);
    color: var(--text-light2);
    table-layout: fixed;
}

.report-table .table thead {
    background-color: #126E51 !important;
    color: #eeeeee !important;
}

.report-table .table-hover>tbody>tr:hover>* {
    color: var(--text-light2);
}

.casino-report-tabs {
    padding: 10px 0;
    background-color: var(--gray2);
    margin-top: 16px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.casino-report-tabs .nav-tabs {
    border: 0;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.casino-report-tabs .nav-tabs .nav-link {
    color: var(--text-light2);
    padding-top: 0;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border: 0;
    cursor: pointer;
}

.casino-report-tabs .nav-tabs .nav-item .nav-link.active {
    color: var(--text-light2);
    font-weight: 600;
    border-bottom: 2px solid var(--text-light2);
    background-color: transparent;
}

.login_modal .modal-content {
    background-image: url(./assets/images/modal-bg.png);
    border: 5px solid #28bba1;
    overflow: hidden;
    border-radius: 36px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.login_modal .modal-content::after {
    content: '';
    width: 50%;
    height: 100%;
    background: rgb(0 0 0 / 52%);
    position: absolute;
    right: 0;
    z-index: -1;
}

.login_modal .form_heading {
    max-width: 310px;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
}

.login_modal .form_heading h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--text-primary2);
}

.login_modal .login_form_modal {
    padding: 50px 15px;
}

.login_modal .form_heading h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--text-primary2);
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.login_modal .form_heading h2::before {
    content: '';
    height: 2px;
    width: 112px;
    position: absolute;
    left: 0;
    top: 50%;
    background-image: linear-gradient(to right, #43c18a, #272727b8);
}

.login_modal .form_heading h2::after {
    content: '';
    height: 2px;
    width: 112px;
    position: absolute;
    right: 0;
    top: 50%;
    background-image: linear-gradient(to right, #272727b8, #43c18a);
}

.login_modal .login_form_modal .form-control {
    color: #fff955;
    background-color: #336b62;
    background-clip: padding-box;
    border: 2px solid #6f9d93;
    border-radius: 10px;
    padding-left: 45px;
}

.login_modal .login_form_modal .form-floating>label {
    left: 35px;
    color: #79bcaf;
}

.login_modal .login_form_modal .privacy_check {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.login_modal .login_form_modal .form-check-input {
    width: 25px;
    height: 25px;
    background-color: #336b62;
    border: 2px solid rgb(111 157 147);
}

.login_modal .login_form_modal .form-check-input:focus {
    box-shadow: none;
}

.login_modal .login_form_modal .form-check {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    gap: 10px;
}

.login_modal .form-check-label {
    margin: 0;
    font-size: 15px;
    color: #79bcaf;
}

.login_modal .privacy_check a {
    text-decoration: none;
    color: #79bcaf;
    font-size: 15px;
}

.login_modal .login_btn {
    margin-top: 35px;
    text-align: center;
}

.login_modal .login_btn .btn-primary {
    background-color: #6ccfa4;
    display: inline-block;
    width: 150px;
    border-radius: 10px;
    height: 45px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
}

.login_modal .input_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    fill: #6f9d93;
}

.login_modal .input_icon svg {
    height: 22px;
    width: 22px;
}

.login_modal .modal_logo img {
    max-width: 200px;
}

.login_modal .modal_logo {
    text-align: center;
    margin-top: 40px;
}

.login_modal .btn-close {
    display: none;
}




/* user dropdown css start */

.username-info {
    display: inline-block;
    padding-left: 0;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    background: var(--secondary-color);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.user-icon {
    height: 100%;
    background-color: var(--primary2-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.user-icon svg {
    height: 20px;
    width: 20px;
    fill: var(--gray6);
}

.arrow_down {
    height: 15px;
    width: 15px;
    fill: var(--gray6);
}

.username {
    height: 22px;
    margin-right: 8px;
    margin-left: 8px;
    color: aliceblue;
    font-size: 15px;
    text-transform: capitalize;
}

.user-dropdown {
    padding-top: unset;
}

.user-dropdown {
    width: auto;
    position: absolute;
    right: 0;
    top: 100%;
    border-radius: 0px;
    background-color: var(--secondary-color);
    padding: 8px 0;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.57);
    text-align: left;
    padding-top: 0;
    margin-top: 5px;
    border-radius: 6px;
    /* border: 1px solid var(--primary2-color); */
}

.user-dropdown a {
    display: block;
    width: 170px;
    color: var(--text-light);
    opacity: 0.9;
    padding-left: 0;
    text-decoration: none;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 16px;
    line-height: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.login-seperator {
    background-color: var(--primary2-color);
    width: 100%;
    height: 1px;
    margin: 8px 0;
}


.balance {
    /* height: 22px; */
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    background: var(--secondary-color);
    width: auto;
    padding: 0 7px 0 0;
    height: 40px;
    margin-left: 10px;
    border-radius: 6px;
}

.balance>div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--primary2-color);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.balance>div:first-child svg {
    height: 20px;
    width: 20px;
    fill: var(--text-light);
}

.balance>div:last-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.balance>div:last-child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.balance-value {
    color: var(--text-light);
    line-height: 16px;
}




/* theem modal css start */
.theem_modal .modal-content {
    background-color: var(--secondary-color);
    border-radius: 0;
    border: 0;
    max-height: calc(100vh - 50px);
}

.theem_modal .modal-header {
    border: 0;
    border-radius: 0;
    background-color: var(--primary-color);
    padding: 8px;
}

.theem_modal .modal-title {
    color: var(--text-light);
    font-size: 18px;
}

.theem_modal .modal-header .close {
    color: var(--text-table-header);
    opacity: 1;
    text-shadow: none;
}

.theem_modal .buttons-tabs.nav-tabs {
    border: 0;
    margin-bottom: 5px;
}



.theem_modal .buttons-tabs.nav-tabs .nav-item .nav-link,
.buttons-tabs.nav-tabs .nav-link.active {
    color: var(--text-light);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    margin-right: 5px;
    border-radius: 6px;
}

.theem_modal .buttons-tabs.nav-tabs .nav-link.active {
    color: var(--text-light);
    background-color: var(--primary2-color);
    border-color: var(--primary2-color);
}

.theem_modal .bet-table {
    background-color: var(--bg-table);
    border-radius: 0;
    margin-top: 0;
    position: relative;
    transform: translateZ(0);
}

.theem_modal .table {
    border: 1px solid #3c444b;
    background-color: var(--bg-table);
    color: var(--text-table);
    table-layout: fixed;
}

.theem_modal .table thead {
    background-color: var(--text-primary2);
    color: var(--text-light);
}

.theem_modal .table thead th {
    border: 0;
    vertical-align: middle;
}

.theem_modal .table td,
.table th {
    border: 0;
    border-bottom: 1px solid #3c444b;
    padding: 4px;
}

.theem_modal .button-value .form-control {
    height: 36px;
    color: var(--text-light);
}

.theem_modal .form-control {
    background-color: #36645c;
    height: 36px;
    border-radius: 0px;
    border: 1px solid #28bba1;
    color: var(--text-light);
}

.theem_modal .btn-primary {
    background-color: var(--primary2-color);
    border-color: var(--text-light);
    border-radius: 6px;
    border-color: var(--primary2-color);
    height: 43px;
    width: 100%;

}

.theem_modal .btn {
    box-shadow: none !important;
    color: var(--text-light);
    border-radius: 6px;
}

.theem_modal .modal-body {
    padding: 8px;
    max-height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-table) var(--bg-table-header);
}

.theem_modal .modal-header .btn-close {
    padding: .5rem .5rem;
    margin: -.5rem -.5rem -.5rem auto;
    opacity: 1;
    filter: invert(1);
}

.theem_modal .modal-header .btn-close:focus {
    box-shadow: none;
}

/* theem modal css end  */

/* change password modal css satrt*/
.theem_modal .modal .login-form {
    max-width: 100%;
}

.theem_modal .login-form {
    padding-top: 0;
    width: 100%;
}

.theem_modal .login-form .form-group,
.change-form .form-group {
    margin-right: 0;
    margin-bottom: 20px;
    position: relative;
}

.theem_modal .user-email-text {
    color: var(--text-light);
    font-size: 15px;
    height: 17px;
    line-height: 17px;
}

.theem_modal .login-form .form-control,
.change-form .form-control {
    height: 46px;
    border: 1px solid var(--primary2-color);
    opacity: 0.6;
    border-radius: 0px;
    background-color: #36645c;
    color: var(--text-highlight);
}

.theem_modal .login-form .btn-primary {
    height: 46px;
    font-weight: 500;
    text-align: center;
}

/* change password modal css end*/


/* bet modal css start */
.home-bet-slip .bet-slip-box {
    margin-top: 0;
}

.bet-slip {
    border-bottom: 1px solid #666;
    padding: 4px 8px;
    margin-bottom: 5px;
}

.bet-nation span {
    height: auto;
    /* color: var(--text-table); */
    font-size: var(--font-caption);
    letter-spacing: 0;
    line-height: 1;
    max-width: calc(100% - 20px);
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.match-result {
    margin-top: 0;
    height: auto;
    /* color: var(--text-table); */
    font-size: var(--font-caption);
    line-height: 1;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bet-team {
    font-size: var(--font-caption);
    margin-top: 0;
    font-weight: var(--font-bold);
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

.bet-team-name {
    max-width: calc(100% - 85px);
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bet-input-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.bet-input.back-border,
.bet-input.lay-border {
    border-left: 0;
}

.bet-input {
    margin-top: 3px;
    margin-left: 4px;
    width: calc(48% - 8px);
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 0;
    overflow: hidden;
    height: 36px;
    margin: 0;
    margin-left: 4px;
}

.back-border {
    border-left: 5px solid var(--back);
}

.bet-input .form-control {
    color: var(--gray1);
    height: 36px;
    border: 0;
    background-color: #fff;
}

.bet-buttons {
    padding: 2px 4px 0 4px;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-center;
    flex-wrap: wrap;
    gap: 4px;
}

.bet-buttons .btn {
    width: calc(25% - 4px);
    height: 40px;
    border-radius: 0;
    background-color: var(--primary-color);
    border-color: transparent;
    padding: 0;
}

.row.row5 {
    margin-left: -5px;
    margin-right: -5px;
    color: var(--text-light);
}

.row.row5>[class*="col-"],
.row.row5>[class*="col"] {
    padding-left: 5px;
    padding-right: 5px;
}

.text-success {
    color: var(--book-green) !important;
}

.text-danger {
    color: var(--book-red) !important;
}

.bet-slip-box {
    padding-bottom: 5px;
}

.bet-input-box button {
    height: 36px;
    width: 40px;
    border: 0;
    font-size: 20px;
    color: var(--text-light);
}

.bet-input-box .btn-minus {
    background-color: var(--bg-danger);
}

.bet-input-box .btn-plus {
    background-color: var(--bg-success);
}

.space_none {
    margin-left: 0;
}

.theem_modal.bet_modal .modal-body {
    padding: 0;
}

/* .theem_modal.bet_modal  .btn-primary{
  border-radius: 0;
} */
.theem_modal.bet_modal .place-bet-btn {
    padding: 12px;
    padding-bottom: 0;
}

/* bet modal css end */


.bet-table {
    background-color: var(--bg-table);
    border-radius: 0;
    margin-top: 0;
    position: relative;
    transform: translateZ(0);
}

.game-title {
    width: calc(100% - 492px);
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: center;
}

.bet-table-body {
    position: relative;
}

.bet-table-box {
    border-bottom: 1px solid #3c444b;
}

.bet-table-row {
    padding: 6px 8px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.bet-table-row:last-child {
    border-bottom: 0;
}

.game-name {
    padding-left: 16px;
    width: calc(100% - 260px);
    vertical-align: top;
}

.team-name {
    max-height: 20px;
    line-height: 20px;
    margin-bottom: 0;
    /*display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    color: var(--text-table);
}

.game-icons {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-end;
}

.game-icon {
    /*width: 25px;*/
    text-align: center;
    margin-right: 5px;
}

.game-icon:last-child {
    margin-right: 0;
}

.game-icon.tv-icon {
    width: 16px;
}

.detail-page-container .market-14.width-75 .nation-name p span:last-child {
    width: 50px;
    text-align: right;
    line-height: 1;
    height: auto;
}


.horse-table .game-name {
    width: calc(100% - 30px);
}

.horse-time-detail {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 400px);
}

.horse-time-detail span {
    background: #222;
    color: #eee;
    padding: 5px 10px;
    border-radius: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
}

.horse-time-detail span.active {
    position: relative;
}

.horse-time-detail span.active:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid green;
}

.horse-tab {
    margin-top: 10px;
}

.horse-tab .nav {
    border-bottom: 1px solid var(--horse-racing_75);
    overflow: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.horse-tab .nav-pills .nav-link {
    background-color: #222;
    color: #eee;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-right: 1px solid #555;
    padding: 2px 16px;
}

.horse-tab .nav-pills .nav-item:last-child .nav-link {
    border-right: 0;
}

.horse-tab .nav-pills .nav-link.active {
    background-color: var(--bg-success);
    color: #fff;
    font-weight: bold;
}

.horse-table .bet-table-row {
    padding: 6px 8px 1px 8px;
}

.horse-time-detail a {
    display: flex;
    text-decoration: none;
}

.horse-table .game-title {
    width: 400px;
}

.horse-table .game-icons svg {
    height: 15px;
    width: 15px;
}

/*Css for Blue Theme*/


.light_theme .bet-table-box {
    border-bottom: 1px solid #d5d5d5;
}


/* horse details page css satrt */
.horse_table_details .team_name .form-check {
    display: flex;
    gap: 5px;
    align-items: center;
}

.horse_table_details .team_name .form-check .form-check-label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.horse_table_details .team_name .form-check .form-check-label .flag_img {
    width: 35px;
    height: 35px;
}

.horse_table_details .team_name .form-check .form-check-label .flag_img img {
    height: 100%;
    width: 100%;
}

.horse_table_details .team_name .form-check .form-check-label .counting_no {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horse_table_details .team_name .form-check .form-check-label .horse-attr {
    background: #4e4d4d;
    padding: 1px 5px;
    font-size: 12px;
    line-height: normal;
    margin-left: 2px;
    border-radius: 0;
    color: #fff;
}

/* horse details page css end */




.daimo_Payment {
    padding: 0px 0px;
}

.daimo_Payment .nav-pills .nav-link {
    background-color: var(--primary-color) !important;
    padding: 5px 13px;
    margin-right: 10px;
    height: 47px;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    border: none;
    color: #fff;
}

.daimo_Payment .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #16191c !important;
}

.payment_type_tabs .nav-link img {
    width: 34px;
    margin-right: 12px;
}

.payment_type_tabs {
    margin-top: 18px;
}

.bankdetails {
    padding: 20px;
    background: var(--gray2);
    border-radius: 10px;
    margin-top: 15px;
    min-height: 97%;
}

.bankdetails .modal-footer {
    justify-content: space-between;
    border: 0;
    padding: 8px;
}

.bankdetails table {
    border-collapse: collapse;
    width: 100%;
}

.bankdetails .modal-footer .btn {
    color: #fff;
}

.bankdetails table td {
    padding: 4px 0px;
}

.bankdetails table td i {
    margin-left: 5px;
    cursor: pointer;
}

.payment_QR_Code {
    display: block;
    text-align: left;
    margin-top: 15px;
}

.payment_QR_Code img {
    width: 117px;
}

.bankdetails .form-control {
    height: 47px;
    background-color: transparent;
    color: #fff;
    padding: 10px 16px;
    font-size: 16px;
}

.bankdetails .form-control::placeholder {
    color: #fff;
    opacity: 8;
}



/* account statement modal css start */
.account_statement_modal .winner_draw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account_statement_modal .select_type {
    display: flex;
    align-items: center;
    gap: 20px;
}

.account_statement_modal .modal-body {
    font-size: 15px;
    color: var(--bg-white);
}

.account_statement_modal .custom-radio {
    display: flex;
    align-items: center;
    gap: 5px;
}

.account_statement_modal .custom-control-inline {
    line-height: 24px
}

.account_statement_modal .custom-control-label {
    color: var(--text-body);
    line-height: unset
}

.account_statement_modal .custom-control-label::before {
    background-color: var(--bg-table-header)
}

.account_statement_modal .custom-control-input:checked~.custom-control-label::before {
    border-color: #3c444b;
    background-color: #3c444b;
    background-image: fill
}

.light_theme .account_statement_modal .table {
    color: var(--bg-white) !important;
    table-layout: auto !important;
}

.account_statement_modal .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23999'/%3e%3c/svg%3e")
}


.themebtn {
    padding: 10px 0px 0px 12px;
}

.themebtn .form-switch .form-check-input {
    width: 40px;
    height: 21px;
    background-color: var(--text-light2);
    border-color: var(--text-light2);
}

.themebtn .form-switch .form-check-input:checked {
    background-color: var(--text-primary2);
    border-color: var(--text-primary2);
}

/* account statement modal css end */

/* casino list */

.casino-tabs {
    height: 50px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    position: relative;
    border-radius: 0 0 8px 8px;
}

.casino-tabs-menu {
    position: relative;
    width: 100%;
    max-width: calc(100% - 100px);
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.casino-tabs .nav-tabs {
    border: 0;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    flex-wrap: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
}

.casino-tabs .scroll-arrow {
    position: absolute;
    cursor: pointer;
}

.casino-tabs .scroll-arrow.arrow-right {
    right: -35px;
}

.casino-tabs .scroll-arrow.arrow-left {
    left: -35px;
}

.casino-tabs .scroll-arrow img {
    width: 25px;
    filter: invert(1);
    opacity: 0.6;
}

.casino-tabs .nav-tabs .nav-link {
    color: var(--text-body);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    text-align: center;
    opacity: 0.7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s linear;
    cursor: pointer;
    border-radius: 0;
}

.casino-tabs .nav-tabs .nav-link img {
    height: 20px;
    width: auto;
}

.casino-tabs .nav-tabs .nav-item .nav-link.active {
    opacity: 1;
    background-color: transparent;
}

.casino-tabs .nav-tabs .nav-item .nav-link:hover,
.casino-tabs .nav-tabs .nav-item .nav-link:focus {
    opacity: 1;
    background-color: transparent;
}

.casino-banners {
    padding: 10px 10px 0 10px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin-top: 6px;
}

.casino-banner-item {
    width: calc(16.66% - 8.4px);
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    transition: 3s;
}

.casino-banner-item:nth-child(6n) {
    margin-right: 0;
}

.facncy-provider {
    height: 100%;
    padding-right: 5px;
    margin-top: 0x;
}

.facncy-provider ul {
    border: 0;
    justify-content: space-between;
}

.facncy-provider li {
    margin-bottom: 6px !important;
    width: calc(50% - 3px);
}

.facncy-provider li a {
    background: transparent;
    border: 1px solid var(--text-body) !important;
    width: 100%;
    display: block;
    padding: 4px;
    color: var(--text-body);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    border-radius: 0 !important;
    cursor: pointer;
    border: 1px solid var(--gray3) !important;
}

.facncy-provider li a.active {
    border: 1px solid var(--gray5) !important;
    background: transparent !important;
}

.facncy-provider li a.active span {
    color: var(--text-light);
}

.facncy-provider li a>div {
    text-align: center;
}

.facncy-provider li a img {
    max-height: 25px;
    max-width: 50px;
    width: auto;
}

.facncy-provider li a span {
    text-transform: uppercase;
    width: 100%;
    display: block;
    font-size: 12px;
    font-weight: 500;
}

.facncy-provider li a:hover {
    color: var(--text-light);
}

@media only screen and (min-width: 320px) and (max-width: 1279px) {
    .casino-banners {
        padding: 8px 10px;
    }

    .casino-banner-item {
        width: 49%;
        margin-right: 2%;
    }

    .casino-banner-item:nth-child(6n) {
        margin-right: 2%;
    }

    .casino-banner-item:nth-child(2n) {
        margin-right: 0;
    }

    .form-control {
        height: 32px;
    }

    .casino-tabs .nav-tabs {
        margin-left: 5px;
        margin-right: 5px;
        overflow-x: auto;
        -ms-overflow-style: none;
        /* scrollbar-width: none; */
    }

    .casino-tabs .nav-tabs::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .casino-banner-item {
        width: 24%;
    }

    .casino-banner-item:nth-child(4n) {
        margin-right: 0 !important;
    }

    .casino-banner-item:nth-child(6n) {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1599px) {
    .form-control {
        font-size: var(--font-13);
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .casino-tabs-menu {
        width: 100%;
    }

    .casino-tabs {
        height: auto;
    }

    .casino-tabs .casino-tabs-menu {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .facncy-provider {
        padding: 5px;
    }

    .facncy-provider ul {
        justify-content: flex-start;
    }

    .facncy-provider li {
        width: calc(33.33% - 3px);
        margin-right: 3px;
        margin-bottom: 3px;
    }

    .facncy-provider li a.active span {
        color: var(--text-body);
    }

    .facncy-provider li a>div {
        text-align: center;
        width: 100%;
    }

    .facncy-provider li a span {
        width: 100%;
        display: block;
        font-size: 11px;
        line-height: 1;
        font-weight: bold;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .facncy-provider li a img {
        height: 25px;
        max-height: 25px;
        max-width: 50px;
        margin-bottom: 5px;
    }

    .facncy-provider li:nth-child(3n) {
        margin-right: 0;
    }

    .facncy-provider li a {
        height: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .casino-banners {
        padding: 6px;
    }

    .casino-banner-item {
        width: 32.66%;
        margin-right: 1%;
    }

    .casino-banner-item:nth-child(2n) {
        margin-right: 1%;
    }

    .casino-banner-item:nth-child(3n) {
        margin-right: 0 !important;
    }

    .casino-banner-item:nth-child(6n) {
        margin-right: 1%;
    }
}

.light_theme .casino-tabs .nav-tabs .nav-link img {
    filter: invert(1);
}

.light_theme .facncy-provider li a.active span {
    color: var(--gray1);
}

.light_theme .facncy-provider li a:hover {
    color: var(--gray1);
}

.light_theme .casino-tabs .scroll-arrow img {
    opacity: 0.8;
    filter: invert(0);
}




/* casino list */



@media only screen and (min-width: 320px) and (max-width: 1279px) {

    .d-none-mobile {
        display: none !important;
    }

    .game-title {
        width: 100%;
        position: relative;
    }

    .bet-table-row-header-mobile .game-title {
        align-items: center;
    }

    .bet-table-row-header-mobile .team-name {
        max-height: 16px;
        line-height: 16px;
        font-size: var(--font-13);
    }

    .game-icons {
        justify-content: flex-end;
    }

    .game-icon {
        text-align: center;
        margin-right: 10px;
    }

    .bet-table-body {
        padding: 5px;
    }

    .bet-table-box {
        background-color: #666;
        padding: 4px;
        margin: 4px 0;
    }

    .light_theme .bet-table-box {
        background-color: #efefef;
    }

    .bet-table-row {
        padding: 0;
    }

    .bet-table-row-header-mobile {
        display: flex;
        align-items: center;
        background-color: var(--m_bg);
        padding: 4px;
        margin-bottom: 3px;
    }

    .light_theme .bet-table-row-header-mobile {
        background-color: #d3d2d2;
    }

    .bet-table-row-header-mobile .game-name {
        vertical-align: top;
        width: calc(100% - 70px);
        padding-left: 10px;
    }

    .bet-table-row {
        border-bottom: 0;
    }

    .bet-table-row-header-mobile .game-name {
        display: flex !important;
        flex-wrap: wrap;
        align-items: center;
    }

    .game-icons {
        width: 40%;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .game-title {
        width: calc(100% - 348px);
    }

    .game-name {
        padding-left: 10px;
        width: calc(100% - 260px);
    }

}

@media only screen and (min-width: 1366px) and (max-width: 1599px) {
    .game-name {
        width: calc(100% - 260px);
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1599px) {

    .game-title {
        width: calc(100% - 348px);
    }

    .horse-time-detail {
        width: calc(100% - 400px);
    }

}

@media only screen and (min-width: 320px) and (max-width: 767px) {

    .horse-table .game-icons {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
    }

    .horse-table .bet-table-row-header-mobile .team-name {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
    }

    .horse-time-detail {
        padding: 5px;
        width: auto;
    }

    .horse-table .bet-table-row-header-mobile .game-name {
        width: 100%;
    }

}

@media only screen and (max-width:1024px) {
    .casino-tabs .scroll-arrow {
        display: none;
    }

    .casino-banners {
        padding: 0px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .bet-table-row {
        padding: 16px 32px;
    }

}

@media only screen and (min-width: 1280px) {
    .d-none-desktop {
        display: none !important;
    }

}